.App {
  background-color: #C37D92;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  border: 4px solid #846267;
  border-radius: 10px;
  font-size: 50px;
  text-shadow: 3px 3px #AC9FBB;
  font-family: 'Leckerli One', cursive;
  padding: 10px;
}


.logo {
  animation: App-logo-spin infinite 15s linear;
  height: 40vmin;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
